//- index.pug
doctype html
html
  head
    script(src='/javascripts/jquery-3.3.1.min.js')
    style
      include style.css
  body
    form(method='POST', action='/api/workers', id='addworker')
      div.form-group
        label(for='workerid') Worker ID:
        input(type='text', placeholder='worker id', name='workerid')
      div.form-group
        label(for='hitid') HIT ID:
        input(type='text', placeholder='hit id', name='hitid')
      div.form-group
        label(for='status') Status:
        input(type='text', placeholder='status', name='status')
      div.form-button
        button(type='submit') Add Worker
    script.
      $("#addworker").submit(function(event){
        event.preventDefault(); //prevent default action
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission

        $.ajax({
          url : post_url,
          type: request_method,
          data : form_data
        }).done(function(response){ //
          location.reload();
        });
      });
    div(id="div1")
    table
      thead
        tr: th Workers
      tbody
        tr
          td="Worker ID"
          td="HIT ID"
          td="Status"
        each worker in workers
          tr
            td=worker.workerid
            td=worker.hitid
            td=worker.status